--no-binary=opencc
numpy<2.0
scipy
librosa==0.10.2
numba
ffmpeg-python
tqdm
matplotlib
cn2an
pypinyin
pyopenjtalk>=0.4.1
g2p_en
torchaudio
sentencepiece
transformers>=4.43,<=4.50
peft<0.18.0
chardet
PyYAML
psutil
jieba_fast
jieba
split-lang
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
ToJyutping
g2pk2
ko_pron
opencc
python_mecab_ko; sys_platform != 'win32'
x_transformers
torchmetrics<=1.5
pytorch-lightning>=2.4
soundfile
einops
inflect
jamo
nltk
onnxruntime-gpu; platform_machine == "x86_64" or platform_machine == "AMD64"
requests
